h1#playlist-title
  span.title= playlist.title
  span.description= playlist.description
  if session.username && isOwner
    a(href='/playlist/edit/#{playlist.id}', class='playlist-edit') Edit

ul#playlist-tags
  if playlist.tags.length > 0
    for tag in playlist.tags
      li(data-action='/tag/#{playlist.id}', data-tag='#{tag.name}')
        a(href='/#/tag/#{tag.name}')= tag.name

.playlist-wrapper
  .playlist-item
    h3= 'Created by ' + playlist.owner.username
    a(href='/#/user/#{playlist.owner.id}')
      img(src='#{playlist.owner.gravatar}')
    time= playlist.created

    #share
      a(href='https://twitter.com/share?url=http://moxboxx.com/playlist/#{playlist.id}', class='twitter-share-button', data-lang='en', data-size='medium', data-count='none')
        Tweet
      .fb-like(data-href='http://moxboxx.com/#/playlist/#{playlist.id}', data-send='false', data-layout='button_count', data-width='100', data-show-faces='false', data-font='arial')

    if session.username
      .item-actions
        if isOwner
          a(href='javascript:;', data-id='#{playlist.id}', class='playlist-delete', data-action='/playlist/', data-context='playlist-delete-detail') delete
        if playlist.isStarred
          a(href='javascript:;', data-id='#{playlist.id}', class='playlist-star on', data-action='/playlist/star/', data-context='playlist-star') unstar
        else
          a(href='javascript:;', data-id='#{playlist.id}', class='playlist-star', data-action='/playlist/star/', data-context='playlist-star') star

    #view-count
      h3 Views
      p= playlist.views

    if playlist.starredBy.length > 0
      #starred
        h3 Starred By
        ul
          for user in playlist.starredBy
            li
              a(href='/#/user/#{user.id}', title="#{user.username}")
                img(src='#{user.gravatar}')

  ol#moxlist
    for mox in moxes
      li(data-id='#{mox.id}', data-playlistid='#{mox.playlist_id}', data-action='/mox/', class='item')
        p.metadata
        != mox.content
        if session.username && isOwner
          .item-actions
            a(href='javascript:;', class='mox-delete', data-context='mox-delete') delete

script(type='text/javascript')
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
script(src='/javascripts/youtube.js')
script(src='/javascripts/froogaloop.js')
script(src='/javascripts/sc.js')
script(type='text/javascript')
  var videoList = [];
  var currentPlay;
