ol#playlists
  for playlist in playlists
    li(data-id='#{playlist.id}', data-action='/playlist/', class='item')
      a(href='/#/user/#{playlist.owner.id}')
        img(src='#{playlist.owner.gravatar}', title="#{playlist.owner.username}")
      h2
        a(href='/#/playlist/#{playlist.id}', title='#{playlist.title}', class='playlist-title')
          = playlist.title
          span.count #{playlist.moxCount || 0}
        p.description= playlist.description
      time= playlist.created

      if session.email
        .item-actions
          if parseInt(session.userId, 10) === parseInt(playlist.owner.id, 10)
            a(href='javascript:;', class='playlist-delete', data-context='playlist-delete') delete
          if playlist.isStarred
            a(href='javascript:;', data-id='#{playlist.id}', class='playlist-star on', data-action='/playlist/star/', data-context='playlist-star') unstar
          else
            a(href='javascript:;', data-id='#{playlist.id}', class='playlist-star', data-action='/playlist/star/', data-context='playlist-star') star
 #pagination
  if (currentPage > 0)
    a#previous(href='?page=#{pagePrev}') Previous
  if (playlists.length > 19)
    a#next(href='?page=#{pageNext}') Older
