extend layout

block title
  = ': edit your playlist'

block content
  h1#playlist-title
    span.title= playlist.title
    span.description= playlist.description
    form(method='post', action='/playlist/#{playlist.id}', id='edit-playlist-title')
      input(type='text', name='title', id='edit-title', value='#{playlist.title}', data-action='/playlist/#{playlist.id}', class='off')
      input(type='text', name='description', id='edit-description', value='#{playlist.description}', placeholder='add a description', data-action='/playlist/#{playlist.id}', class='off')
      a(href='javascript:;', class='playlist-edit-cancel off', data-context='playlist-edit-cancel') Cancel
      a(href='javascript:;', class='playlist-edit-save off', data-context='playlist-edit-save') Save
      input(type='hidden', name='_csrf', value=csrf)
      button(type='submit') Update
    a(href='javascript:;', class='playlist-edit', data-context='playlist-edit') edit title / description
    a(href='/playlist/#{playlist.id}', class='playlist-edit') view public

  ul#playlist-tags
    if playlist.tags.length > 0
      for tag in playlist.tags
        li(data-action='/tag/#{playlist.id}', data-tag='#{tag.name}')
          a(href='/tag/#{tag.name}')= tag.name
          if session.username && isOwner
            a(href='javascript:;', class='delete tag', data-context='delete-tag') X

  .playlist-wrapper.edit
    .playlist-item
      h3= 'Created by ' + playlist.owner.username
      a(href='/user/#{playlist.owner.id}')
        img(src='#{playlist.owner.avatar}')
      time= playlist.created

      if session.username
        .item-actions
          if isOwner
            a(href='javascript:;', data-id='#{playlist.id}', class='playlist-delete', data-action='/playlist/', data-context='playlist-delete-detail') delete
          if playlist.isStarred
            a(href='javascript:;', data-id='#{playlist.id}', class='playlist-star on', data-action='/playlist/star/', data-context='playlist-star') unstar
          else
            a(href='javascript:;', data-id='#{playlist.id}', class='playlist-star', data-action='/playlist/star/', data-context='playlist-star') star

    .mox-items
      #add-background
        if playlist.background
          form(method='post', action='/playlist/reset/background', id='background-delete')
            input(type='hidden', name='playlist_id', value='#{playlist.id}')
            div(class='preview', style='background-image: url(#{playlist.background})')
            input(type='hidden', name='_csrf', value=csrf)
            button(type='submit') Remove current background
        form(method='post', action='/playlist/set/background', enctype='multipart/form-data')
          input(type='hidden', name='playlist_id', value='#{playlist.id}')
          label(for='background', class='tip') Background Image (500 kb maximum file size)
          input(type='file', name='background')
          input(type='hidden', name='_csrf', value=csrf)
          button(type='submit') Update Background Image
      #add-tag
        h2 Add a tag
        form(method='post', action='/tag', id='new-tag')
          input(type='text', name='tag')
          input(type='hidden', name='playlist_id', value='#{playlist.id}')
          input(type='hidden', name='_csrf', value=csrf)
          button(type='submit') Add
      #add-track
        h2 Add a media link
        p.tip This can be a youtube/vimeo/soundcloud url

        form(method='post', action='/mox', id='new-mox')
          input(type='text', name='url')
          input(type='hidden', name='playlist_id', value='#{playlist.id}')
          input(type='hidden', name='_csrf', value=csrf)
          button(type='submit') Add


      p.tip To reorder, drag by the left

      ol#moxlist.sortable
        for mox in moxes
          li(class='ui-state-default item', data-id='#{mox.id}', data-playlistid='#{mox.playlist_id}', data-action='/mox/')
            != mox.content
            .block-content
            if session.username && isOwner
              .item-actions
                a(href='javascript:;', class='mox-delete', data-context='mox-delete') delete
