extend layout

block title
  = ': ' + playlist.title

block content
  h1#playlist-title
    span.title= playlist.title
    span.description= playlist.description
    if session.email && isOwner
      a(href='/playlist/edit/#{playlist.id}', class='playlist-edit') Edit

  ul#playlist-tags
    if playlist.tags.length > 0
      for tag in playlist.tags
        li(data-action='/tag/#{playlist.id}', data-tag='#{tag.name}')
          a(href='/tag/#{tag.name}')= tag.name

  .playlist-wrapper
    .playlist-item
      h3= 'Created by ' + playlist.owner.username
      a(href='/user/#{playlist.owner.id}')
        img(src='#{playlist.owner.gravatar}')
      time= playlist.created

      #share
        span(class='st_facebook_large', displayText='Facebook')
        span(class='st_twitter_large', displayText='Tweet')

      if session.email
        .item-actions
          if isOwner
            a(href='javascript:;', data-id='#{playlist.id}', class='playlist-delete', data-action='/playlist/', data-context='playlist-delete-detail') delete
          if playlist.isStarred
            a(href='javascript:;', data-id='#{playlist.id}', class='playlist-star on', data-action='/playlist/star/', data-context='playlist-star') unstar
          else
            a(href='javascript:;', data-id='#{playlist.id}', class='playlist-star', data-action='/playlist/star/', data-context='playlist-star') star

      if playlist.starredBy.length > 0
        #starred
          h3 Starred By
          ul
            for user in playlist.starredBy
              li
                a(href='/user/#{user.id}', title="#{user.username}")
                  img(src='#{user.gravatar}')

    ol#moxlist
      for mox in moxes
        li(data-id='#{mox.id}', data-playlistid='#{mox.playlist_id}', data-action='/mox/', class='item')
          != mox.content
          if session.email && isOwner
            .item-actions
              a(href='javascript:;', class='mox-delete', data-context='mox-delete') delete

block footer
  if moxes.length > 0
    a(href='javascript:;', id='play-playlist', title='Start playlist') play
    a(href='javascript:;', id='repeat-playlist', title='Repeat playlist') repeat

  script(type='text/javascript')
    var switchTo5x = true;
  script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
  script(type='text/javascript')
    stLight.options({ publisher: 'b37445ca-94cf-40b2-8953-31ff49293916' });

