extend layout

block content
  if isOwner
    h1 Your Playlists
  else
    h1= owner.username

  p Location: #{owner.location}

  ol#playlists
    for playlist in playlists
      li(data-id='#{playlist.id}', data-action='/playlist/', class='item')
        img(src='#{playlist.owner.gravatar}')
        h2
          a(href='/playlist/#{playlist.id}', title='#{playlist.title}', class='playlist-title')= playlist.title
        time= playlist.created
        if isOwner
          .item-actions
              a(href='javascript:;', class='playlist-delete') delete
