extend layout

block title
  = ': edit your profile'

block content
  h1 Edit your profile

  if gravatar
    #gravatar-wrapper
      img(src='#{gravatar}', id="gravatar-profile")
      p.gravatar.tip
        span Update your&#xa0;
        a(href='http://gravatar.com', target='_blank') gravatar

  form(method='post', action='/profile', id='profile-edit')
    label(for='username', class='tip') Username*
    input(type='text', name='username', placeholder='Username', value='#{session.username || ''}')
    label(for='location', class='tip') Location
    input(type='text', name='location', placeholder='Where are you located?', value='#{location}')
    label(for='website', class='tip') Website
    input(type='text', name='website', placeholder='Your website url', value='#{website}')
    if session.username
      label(for='notify-stars', class='tip') Email me when someone stars my playlist!
        label(class='checkbox')
          if emailStarred
            input(type='checkbox', name='email_starred', checked='checked')
          else
            input(type='checkbox', name='email_starred')
          span
    button(type='submit') Update

  if session.username
    if session.background
      form(method='post', action='/reset/background', id='background-delete')
        div(class='preview', style='background-image: url(#{session.background})')
        button(type='submit') Remove current background
    form(method='post', action='/background', id='background-update', enctype='multipart/form-data')
      label(for='background', class='tip') Background Image (300 kb maximum file size)
      input(type='file', name='background')
      button(type='submit') Update Background Image

    p
      | Drag this bookmarket to your bookmark bar to&nbsp;
      a(href="javascript:var d=document,w=window,f='http://moxboxx.com/bookmarklet',l=d.location,e=encodeURIComponent,p='?mox-box='+e(l.href),u=f+p;try{if(!/^(.*\.)?moxboxx[^.]*$/.test(l.host)) throw(0);}catch(z){a=function(){if(!w.open(u,'t','toolbar=no,resizable=no,status=no,location=no,scrollbars=no,menubar=no,height=220,width=540'))l.href=u;};if(/Firefox/.test(navigator.userAgent)) setTimeout(a,0); else a();}void(0)") Post to MoxBoxx
      .
