extend layout

block content
  h1 Edit your profile

  if gravatar
    #gravatar-wrapper
      img(src='#{gravatar}', id="gravatar-profile")
      p.gravatar.tip
        span Update your&#xa0;
        a(href='http://gravatar.com', target='_blank') gravatar

  form(method='post', action='/profile', id='profile-edit')
    label(for='username', class='tip') Username*
    input(type='text', name='username', placeholder='Username', value='#{session.username || ''}')
    label(for='location', class='tip') Location
    input(type='text', name='location', placeholder='Where are you located?', value='#{location}')
    label(for='website', class='tip') Website
    input(type='text', name='website', placeholder='Your website url', value='#{website}')
    button(type='submit') Update

  if session.username
    if session.background
      form(method='post', action='/reset/background', id='background-delete')
        div(class='preview', style='background-image: url(#{session.background})')
        button(type='submit') Remove current background
    form(method='post', action='/background', id='background-update', enctype='multipart/form-data')
      label(for='background', class='tip') Background Image (100 kb maximum file size)
      input(type='file', name='background')
      button(type='submit') Update Background Image
